@use "../variables" as *;

// Min-width breakpoints
@mixin media-min-xs {
  @media (min-width: $breakpoint-xs) {
    @content;
  }
}

@mixin media-min-sm {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin media-min-md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin media-min-lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin media-min-xl {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin media-min-xxl {
  @media (min-width: $breakpoint-xxl) {
    @content;
  }
}

// Max-width breakpoints
@mixin media-max-sm {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin media-max-md {
  @media (max-width: #{$breakpoint-md - 1px}) {
    @content;
  }
}

@mixin media-max-lg {
  @media (max-width: #{$breakpoint-lg - 1px}) {
    @content;
  }
}

@mixin media-max-xl {
  @media (max-width: #{$breakpoint-xl - 1px}) {
    @content;
  }
}

// Custom media query
@mixin media($min: null, $max: null) {
  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $min != null {
    @media (min-width: $min) {
      @content;
    }
  } @else if $max != null {
    @media (max-width: $max) {
      @content;
    }
  }
}
